.chakra-ui-dark .active-menu{
    background-color: #2b6cb0;
    color: #ffffff;
}

.chakra-ui-light .active-menu{
    background-color: #4299e1;
    color: #ffffff;
}

.git-background{
    background-image: url("./upload.png") !important;
    background-repeat: no-repeat !important;
    background-position: bottom center !important;
    background-size: 250px !important;
 }
 body{
    font-family: 'Inter', sans-serif !important;
 }

 .no-border{
     td{
         border-bottom: 0px;
     }
 }

 .scale-animation:hover{
    transform: scale(1.02);
    transition-duration: 50ms;
    transition-timing-function: ease-in-out;
 }

 ::-webkit-scrollbar { width: 0px;}